.card-details-members {
  .card-details-member-list {
    .btn-add {
      border-radius: 100%;
      background-color: #091e420a;
      box-shadow: none;
      cursor: pointer;
      display: block;
      float: left;
      margin: 0 8px 8px 0;
      padding: 0;
      transition-duration: 85ms;
      transition-property: background-color, border-color, box-shadow;
      transition-timing-function: ease;
      width: 32px;
      height: 32px;
      span {
        display: initial;
        font-size: 16px;
        height: 16px;
        padding: 8px;
        width: 16px;
      }
    }
  }
}
