.card-details-header {
  margin: 12px 40px 8px 56px;
  min-height: 32px;
  position: relative;
  z-index: 1;
  .icon-card {
    left: -40px;
    position: absolute;
    top: 4px;
  }

  .card-details-title {
    margin: 4px 0 0;
    padding: 8px 0 0;
    h2 {
      margin-right: 4px;
    }

    textarea {
      overflow: hidden;
      overflow-wrap: break-word;
      height: 32px;
      background: #0000;
      border-radius: 3px;
      font-size: 20px;
      font-weight: 600;
      line-height: 24px;
      margin: -4px -8px;
      min-height: 24px;
      padding: 4px 8px;
      resize: none;
      &:not(:focus):hover {
        box-shadow: none;
      }
    }
  }

  .in-list-subtitle {
    cursor: default;
    display: inline-block;
    margin: 4px 8px 4px 2px;
    p {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}
