.app-header {
  padding: 6px 4px;
  background-color: rgba(0, 0, 0, 0.45);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  .left-pane {
    > :nth-child(2) {
      margin: 0 4px;
      gap: 4px;
    }

    .mobile-actions {
      display: none;
    }
  }

  a.header-logo {
    height: 32px;
    color: darken($clr0, 6);
    display: flex;
    align-items: center;
    padding: 0 6px;
    border-radius: 3px;
    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
      > :nth-child(1) {
        display: none;
      }
      > :nth-child(2) {
        display: block;
      }
    }

    > :nth-child(2) {
      display: none;
      img {
        width: 15px;
      }
    }

    span {
      line-height: 1;
      letter-spacing: 0.2px;
      font-family: SourceSans-Bold;
      font-size: 22px;
      margin-left: 5px;
    }
  }

  .avatar {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-left: 4px;
  }

  .right-pane {
    & > :first-child {
      padding: 0;
      margin: 0 4px 0 0;
      span {
        display: flex;
        width: 32px;
        justify-content: center;
        align-items: center;
        margin: 0;
        span {
          color: rgb(255, 255, 255);
          display: inline-block;
          fill: inherit;
          flex-shrink: 0;
          line-height: 1;
          font-size: 14px;
          svg {
            max-height: 100%;
            max-width: 100%;
            overflow: hidden;
            pointer-events: none;
            vertical-align: bottom;
            height: 20px;
            width: 20px;
            line-height: 20px;
          }
        }
      }
    }

    .member-avatar {
      margin: 0;
    }
  }
}

@include for-mobile-layout {
  .app-header {
    .left-pane {
      .desktop-actions {
        display: none;
      }
      .mobile-actions {
        display: block;
      }
    }
  }
}
