.login-signup {
  background-color: #f9fafc;
  .login-signup-main {
    .login-signup-logo {
      height: 43px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 40px;
      margin-bottom: 40px;
      & > :first-child {
        width: 40px;
      }

      & > :last-child {
        font-family: SourceSans-Bold;
        font-size: rem(55px);
        line-height: 48px;
        color: #293856;
        margin-inline-start: 14px;
        // margin-block-end: 1px;
      }
    }

    .inner-section {
      width: 100%;
      padding: 0px;
      overflow: visible;
      margin-bottom: 30px;
      .section-wrapper {
        max-width: 400px;
        margin: 0 auto;

        .form-container {
          background-color: $clr0;
          border-radius: 3px;
          padding: 25px 40px;
          margin: 0 auto;
          max-width: 400px;
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
          h1 {
            font-size: 1rem;
            color: $clr4;
            margin: 10px 0 25px;
          }
          form {
            .errors {
              text-align: initial;
              p {
                background: #eb5a46;
                color: #fbedeb;
                font-size: 14px;
                border-radius: 4px;
                border: 1px solid #eb5a46;
                display: inline-block;
                padding: 0.5em 1em;
                margin: 0 0 5px;
              }
            }
            text-align: center;
          }
          input {
            box-shadow: none;
            border: 2px solid #dfe1e6;
            height: 44px;
            padding: 7px;
            margin-bottom: 20px;
            transition: background-color 0.2s ease-in-out 0s,
              border-color 0.2s ease-in-out 0s;
          }
          input:focus {
            background-color: #fff;
            border: 2px solid #4c9aff;
          }
          button {
            border: none;
            border-radius: 3px;
            background-color: #e2e4e6;
            color: hsl(0, 0%, 55%);
            margin-bottom: 15px;
            font-size: 14px;
            padding: 8px 18px;
            width: unset;
          }
          .btn-login {
            background-color: #5aac44;
            color: $clr0;
            cursor: pointer;
          }
          .hr {
            border-top: 1px solid #ccc;
            margin-bottom: 10px;
          }
          a {
            color: #6697e0;
            font-size: 0.875rem;
          }

          .login-method-seperator {
            text-transform: uppercase;
            text-align: center;
            font-size: rem(12px);
            margin-block: 16px;
          }

          .login-method-container {
            .google-login-btn {
              color: rgba(0, 0, 0, 0.54);
              box-shadow: rgba(black, 0.2) 1px 1px 5px 0 !important;
              display: flex !important;
              justify-content: center !important;
              width: 99% !important;
              height: 39px !important;

              transition: background-color 0.2s ease-in-out 0s,
                border-color 0.2s ease-in-out 0s !important;
              &:hover {
                background-color: #f9fafc !important;
                color: unset !important;
                opacity: unset !important;
              }

              div {
                padding: unset !important;
                height: 18px;
                vertical-align: middle;
                margin-right: 6px !important;
              }
              span {
                font-weight: bold !important;
                color: darken(saturate($clr4, 3.58), 4.9);
                font-family: "-apple-system", BlinkMacSystemFont, "Segoe UI",
                  Roboto, Oxygen, Ubuntu, "Fira Sans", "Droid Sans",
                  "Helvetica Neue", sans-serif !important;
              }
            }
          }
        }
      }
    }
  }

  footer {
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
    margin-block: 1rem;
    hr {
      max-width: 400px;
      margin: 25px auto;
    }
    .datlashian-logo {
      margin-bottom: 20px;
      // width: 150px;
      // display: inline-block;
      vertical-align: top;
      margin-top: 1px;
      img {
        height: 20px;
        width: 20px;
      }
      span {
        text-transform: uppercase;
        color: #0052cc;
        font-weight: bold;
        font-size: rem(23px);
        margin-inline-start: 5px;
      }
    }
  }

  .background {
    z-index: -900;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;

    .left-large,
    .right-large {
      position: absolute;
      width: 400px;
      bottom: 0;
      z-index: -999;
      max-width: 30%;
    }

    .left-large {
      left: 0;
    }
    .right-large {
      right: 0;
    }
  }
}
