.board-page {
  //For initial testing -- remove for production
  // background: url("../../img/backgrounds/forest.jpg") no-repeat center fixed;
  // background-size: cover;
  background-clip: content-box;
  //   position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
