.card-details {
  .window-overlay {
    display: flex;

    .window {
      background-color: #f4f5f7;
      border-radius: 2px;
      margin: 48px 0 80px;
      overflow: hidden;
      position: relative;
      width: 768px;
      z-index: 25;
    }

    .window-wrapper {
      .dialog-close-btn {
        span {
          color: inherit;
        }
      }

      .card-details-window {
        .window-cover {
        }
      }
    }
  }

  .card-details-item {
    display: block;
    float: left;
    margin: 0 8px 8px 0;
    max-width: 100%;
  }

  .card-details-item-header {
    color: $clr4;
    display: block;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    line-height: 20px;
    margin: 0 8px 4px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
