.login-signup {
  .login-signup-main {
    .login-signup-logo {
      height: 43px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 40px;
      margin-bottom: 40px;
      & > :first-child {
        width: 40px;
      }

      & > :last-child {
        font-family: SourceSans-Bold;
        font-size: rem(55px);
        line-height: 48px;
        color: #293856;
        margin-inline-start: 14px;
        // margin-block-end: 1px;
      }
    }

    .inner-section {
      width: 100%;
      padding: 0px;
      overflow: visible;
      margin-bottom: 30px;
      .section-wrapper {
        max-width: 400px;
        margin: 0 auto;

        .form-container {
          background-color: $clr0;
          border-radius: 3px;
          padding: 25px 40px;
          margin: 0 auto;
          max-width: 400px;
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
          h1 {
            font-size: 1rem;
            color: #5e6c84;
            margin: 10px 0 25px;
          }
          form {
            text-align: center;
          }
          input {
            font-size: 0.875rem;
            background-color: #fafbfc;
            border-radius: 3px;
            border: 2px solid #dfe1e6;
            height: 44px;
            padding: 7px;
            width: unset;
            margin-bottom: 20px;
            transition: background-color 0.2s ease-in-out 0s,
              border-color 0.2s ease-in-out 0s;
          }
          input:focus {
            background-color: #fff;
            border: 2px solid #4c9aff;
          }
          button {
            border: none;
            border-radius: 3px;
            background-color: #e2e4e6;
            color: hsl(0, 0%, 55%);
            margin-bottom: 15px;
            font-size: 14px;
            padding: 8px 18px;
            width: unset;
          }
          .btn-login {
            background-color: #5aac44;
            color: $clr0;
          }
          .hr {
            border-top: 1px solid #ccc;
            margin-bottom: 10px;
          }
          a {
            color: #6697e0;
            font-size: 0.875rem;
          }
        }
      }
    }
  }

  footer {
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
    margin-block: 1rem;
    hr {
      max-width: 400px;
      margin: 25px auto;
    }
    .datlashian-logo {
      margin-bottom: 20px;
      // width: 150px;
      // display: inline-block;
      vertical-align: top;
      margin-top: 1px;
      img {
        height: 20px;
        width: 20px;
      }
      span {
        text-transform: uppercase;
        color: #0052cc;
        font-weight: bold;
        font-size: rem(23px);
        margin-inline-start: 5px;
      }
    }
  }

  .background {
    z-index: -900;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;

    .left-large,
    .right-large {
      position: absolute;
      width: 400px;
      bottom: 0;
      z-index: -999;
      max-width: 30%;
    }

    .left-large {
      left: 0;
    }
    .right-large {
      right: 0;
    }
  }
}
