.workspace-page {
  min-height: calc(100vh - 40px);
  .workspace-left-sidebar {
    margin: 40px 0 0;
    padding: 0 16px;
    width: 240px;
    ul {
      margin-bottom: 12px;
      li {
        margin-bottom: 4px;
        div {
          align-items: center;
          background-color: transparent;
          border-radius: 4px;
          box-shadow: none;
          display: flex;
          font-weight: bold;
          margin: 0;
          min-height: 20px;
          overflow: hidden;
          padding: 6px 8px 6px 0;
          text-decoration: none;
          transition-property: background-color, border-color, box-shadow;
          transition-duration: 85ms;
          transition-timing-function: ease;
          &:hover {
            background-color: rgba(9, 30, 66, 0.08);
          }

          &.selected {
            background-color: #e4f0f6;
            color: #0079bf;
            & > :first-child {
              background-color: #e4f0f6;
              color: #0079bf;
            }
          }

          & > :first-child {
            display: block;
            flex: 0 0 auto;
            text-align: center;
            width: 32px;
            color: #42526e;
            span {
              color: currentColor !important;
              span {
                color: currentColor !important;
              }
            }
          }

          & > :last-child {
            flex: 1 1 auto;
            width: min-content;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }

  .all-boards {
    margin: 40px 16px 0;
    max-width: 825px;
    min-width: 288px;
    width: 100%;
    padding: 0 0 20px;

    .starred-boards {
      padding: 0 0 20px;

      .starred-boards-header {
        position: relative;
        margin: 0 0 0 40px;
        padding: 0 0 11px;
        div {
          left: -40px;
          position: absolute;
          top: 0;
        }
        h3 {
          flex: 1;
          font-size: 16px;
          font-weight: 700;
          line-height: 24px;
          margin: 6px 0 0;
        }
      }
    }

    .workspace-boards {
      > h3 {
        color: $clr4;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        margin: 20px 0;
      }
    }
  }
}

@include for-mobile-layout {
  .workspace-page {
    .workspace-left-sidebar {
      display: none;
    }

    .all-boards {
      margin: 20px 16px 0;
      .starred-boards {
        padding-bottom: 0px;
      }

      .board-list {
        ul {
          li {
            margin-bottom: 8px;
            margin-right: 8px;
            width: calc(50% - 4px);
            &:nth-of-type(2n) {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}
