.app-header {
  padding: 6px 4px;
  background-color: rgba(0, 0, 0, 0.35);
  .left-pane {
    > :nth-child(2) {
      margin: 0 4px;
      gap: 4px;
    }
  }

  .header-logo {
    padding: 0 6px;
    border-radius: 3px;
    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
    a {
      color: darken($clr0, 6);
      display: flex;
      align-items: center;

      span {
        line-height: 1;
        letter-spacing: 0.2px;
        font-family: SourceSans-Bold;
        font-size: 22px;
        margin-left: 5px;
      }
    }
  }
}
