.loader-cmp {
  &.full {
    position: fixed;
    top: 50%;
    left: 40%;
    // transform: translate(-50% -50%);
    transform: translateX(-50%);
    transform: translateY(-50%);
    svg {
      height: 200px;
      width: 200px;
    }
  }
  &.block {
    svg {
      margin-top: 1px;
      align-items: center;
      justify-content: center;
      height: 20px;
      width: 20px;
    }
  }
  &.medium {
    svg {
      margin-top: 1px;
      align-items: center;
      justify-content: center;
      height: 6px;
      width: 60px;
    }
  }
}
