.member-avatar {
  border-radius: 25em;
  color: $clr3;
  &.txt {
    background-color: darken(desaturate(adjust-hue($clr2, -5), 1.08), 3.53);
  }

  cursor: pointer;
  // display: block;
  float: left;
  height: 32px;
  margin: 0 4px 4px 0;
  overflow: visible;
  position: relative;
  text-decoration: none;
  -webkit-user-select: none;
  user-select: none;
  width: 32px;
  z-index: 0;

  &:hover {
    background-color: #c1c7d0;
    img {
      opacity: 0.8;
    }
  }

  img {
    border-radius: 25em;
    height: 32px;
    object-fit: cover;
    width: 32px;
  }

  .member-type {
    bottom: 0;
    height: 9px;
    position: absolute;
    right: 1px;
    width: 9px;
    z-index: 3;
  }

  .icon-add {
    font-size: 10px;
    margin-top: 1px;
  }

  .avatar-txt {
    display: block;
    font-size: 12px;
  }
}
