.card-details-description {
  clear: both;
  margin-bottom: 24px;
  position: relative;

  .card-details-title {
    .card-details-title-icon {
      top: 8px;
    }

    button {
      margin-left: 8px;
    }
  }

  p,
  .fake-text-container {
    margin: 0 0 0 40px;
  }

  .description-fake-text {
    background-color: #091e420a;
    border: none;
    border-radius: 3px;
    box-shadow: none;
    height: 56px;
    padding: 8px 12px;
    text-decoration: none;
    &:hover {
      background-color: #091e4214;
      border: none;
      box-shadow: none;
    }
  }

  .description-edit {
    display: block;
    // float: left;
    padding-bottom: 9px;
    z-index: 50;
    margin-left: 40px;

    textarea {
      margin-bottom: 4px;
      width: 100%;
      background: #fff;
      min-height: 108px;
      resize: none;
    }

    .edit-controls {
      margin-top: 8px;
      & > :first-child {
        float: left;
        margin: 0 4px 0 0;
      }

      & > :last-child {
        padding: 0;
        span:hover {
          color: $clr8;
        }
      }
    }
  }
}

@include for-mobile-layout {
  .card-details-description {
    .description-edit {
      //
    }
  }
}
