.card-details-main {
  float: left;
  margin: 0;
  min-height: 24px;
  padding: 0 8px 8px 16px;
  position: relative;
  width: 552px;
  z-index: 0;

  .card-details-title-icon {
    top: 2px;
    // top: 8px;
    left: -40px;
    position: absolute;
    color: darken(saturate($clr4, 8.19), 9.8);
  }

  .card-details-title {
    position: relative;
    margin: 0 0 4px 40px;
    padding: 8px 0;
    min-height: 18px;
    min-width: 40px;
    width: auto;
    h3 {
      min-height: 18px;
    }
  }
}

@include for-mobile-layout {
  .card-details-main {
    float: none;
    max-height: none;
    max-width: none;
    min-width: 0;
    padding: 8px;
    width: auto;
  }
}
