.color-palette {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  padding: 4px;
  margin: 0 -4px;
  overflow-x: hidden;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  button {
    margin: 0;
    border-radius: 3px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 32px;
    cursor: pointer;

    &:hover {
      filter: saturate(85%) brightness(85%);
    }
  }
}
