.color-palette {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  padding: 4px;
  margin: 0 -4px;
  overflow-x: hidden;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  button {
    margin: 0;
    border-radius: 3px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 32px;
    cursor: pointer;

    span {
      color: $clr0;
      display: none;
    }

    &.cover-color {
      &:hover {
        filter: saturate(85%) brightness(85%);
      }
    }

    &.edit-label {
      &:hover {
        opacity: 0.8;
      }
    }

    &.selected {
      span {
        display: inline-block;
      }
    }

    &.green {
      background-color: $green;
    }
    &.yellow {
      background-color: $yellow;
    }
    &.orange {
      background-color: $orange;
    }
    &.red {
      background-color: $red;
    }
    &.purple {
      background-color: $purple;
    }
    &.blue {
      background-color: $blue;
    }
    &.sky {
      background-color: $sky;
    }
    &.lime {
      background-color: $lime;
    }
    &.pink {
      background-color: $pink;
    }
    &.black {
      background-color: $black;
    }
  }

  .edit-label-no-color {
    //
  }
}
