.popover-cover-content {
  h4 {
    color: #5e6c84;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    margin-bottom: 4px;
    margin-top: 16px;
  }
  h4.size-title {
    margin-top: 0;
  }
}
