.MuiPopover-paper {
  position: relative;
  overflow: hidden;
  border-radius: 3px !important; //To override Mui settings
  z-index: 70;
  &.menu {
    animation: open-menu 0.25s ease-in;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    background-color: #f4f5f7;
  }

  .popover-wrapper {
    width: 304px;
    &.menu {
      width: 339px;
    }

    &.release-width {
      width: unset;
      min-width: 304px;
    }
    overflow: hidden;
    .popover-header {
      height: 40px;
      margin-bottom: 8px;
      position: relative;
      text-align: center;
      .popover-header-title {
        border-bottom: 1px solid #091e4221;
        box-sizing: border-box;
        color: $clr4;
        display: block;
        line-height: 40px;
        margin: 0 12px;
        overflow: hidden;
        padding: 0 32px;
        position: relative;
        text-overflow: ellipsis;
        white-space: nowrap;
        z-index: 1;
      }
      .btn-close,
      .btn-back {
        color: lighten(desaturate($clr4, 3.45), 4.12);
        padding: 10px 12px 10px 8px;
        position: absolute;
        top: 0;
        &:hover {
          color: $clr3;
        }
        span.icon-close {
          color: inherit;
        }
      }
      .btn-close {
        right: 0;
        z-index: 2;
      }
      .btn-back {
        left: 0;
        z-index: 2;
      }
    }

    .popover-header-mod-menu {
      margin-bottom: 8px;
      flex: 0 0 auto;
      height: 48px;
      padding: 0 6px 0 12px;
      position: relative;
      transition: opacity 0.2s ease-in;
      width: 100%;
      overflow: visible;
      .popover-header-title {
        a {
          text-decoration: underline;
        }
      }
      .popover-header-content {
        border-bottom: 1px solid #091e4221;
        .btn-back {
          font-size: 20px;
          left: 12px;
          overflow: hidden;
          position: absolute;
          top: 8px;
          transition: transform 0.12s ease-in;
          padding: 0;
          .icon-lg {
            font-size: rem(20px);
            &:hover {
              color: #091e42;
            }
          }
        }
        h3.popover-header-title {
          flex: 1;
          line-height: 20px;
          margin: 14px 32px;
          overflow: hidden;
          text-align: center;
          text-overflow: ellipsis;
          transition: margin 0.12s ease-in;
          white-space: nowrap;
        }
        .btn-close {
          font-size: 20px;
          position: absolute;
          right: 6px;
          top: 8px;
          padding: 0;
          .icon-lg {
            font-size: rem(20px);
            &:hover {
              color: #091e42;
            }
          }
        }
      }
    }

    .popover-content {
      overflow-x: hidden;
      overflow-y: auto;
      padding: 0 12px 12px;

      h4 {
        color: $clr4;
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
        margin-bottom: 4px;
        margin-top: 16px;
      }

      .btn-popover {
        background-color: #091e420a;
        &:hover {
          background-color: #091e4214;
          border: none;
          box-shadow: none;
        }
      }

      input {
        margin: 4px 0 12px;
        width: 100%;
      }

      label:first-child {
        margin-top: 4px;
      }

      @keyframes open-menu {
        from {
          transform: translateX(22.5rem);
        }
        to {
          transform: translateX(0);
        }
      }

      //Add scrollbar??
    }

    &.menu {
      height: calc(100vh - 44px);
      overflow: auto;
      .popover-header-title {
        // flex: 1;
        // line-height: 20px;
        // margin: 14px 32px;
        // overflow: hidden;
        // text-align: center;
        font-size: rem(16px);
        font-weight: 600;
        color: #172b4d;
        text-overflow: ellipsis;
        transition: margin 0.12s ease-in;
        white-space: nowrap;
      }
    }
  }
  /////////////////////////////////////////////////////////////
  //Relevant for popovers: profile & account - make them work with the general pop overs css!!
  button.btn-close-popover {
    color: $clr0;
    padding: 10px 12px 10px 8px;
    top: 0;
    right: 0;
    z-index: 2;
    position: absolute;

    &:hover {
      filter: brightness(75%);
    }
  }
  .popover-content {
    li {
      color: $clr3;
    }
  }

  .popover-li {
    padding: 6px 12px;
    cursor: pointer;
    &:hover {
      background: rgba(9, 30, 66, 0.04);
    }
  }
  ///////////////////////////////////////////////////////
}
