.popover-cover-content {
  h4 {
    color: #5e6c84;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    margin-bottom: 4px;
  }
  h4.size-title {
    margin-top: 0;
  }
  h4.colors-title {
    margin-top: 16px;
  }
  //   .button {
  //     -webkit-appearance: none;
  //     border: none;
  //     border-radius: 3px;
  //     box-sizing: border-box;
  //     display: inline-block;
  //     line-height: 20px;
  //     margin-bottom: 8px;
  //     padding: 6px 12px;
  //     position: relative;
  //     text-decoration: none;
  //     color: #172b4d;
  //   }
}
