input,
textarea {
  background-color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  font-weight: 700;
  height: 32px;
  margin: 0;
  padding: 0 12px;
  line-height: 20px;
  outline: 0;
  transition-duration: 85ms;
  transition-property: background-color, border-color, box-shadow;
  transition-timing-function: ease;
  word-break: break-word;

  &:focus {
    box-shadow: inset 0 0 0 2px $clr6;
  }
}

.btn {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Noto Sans", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: rem(14px);
  line-height: 1;
  background-color: transparent;
  border: none;
  border-radius: 3px;
  padding: 0;

  cursor: pointer;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 85ms;
  transition-timing-function: ease;
}

.btn-header {
  height: 32px;
  line-height: 32px;
  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  span {
    color: $clr0;
  }

  &-wide {
    padding: 6px 12px;
    & span:first-child {
      margin-right: 6px;
    }
  }
}
