.card-list-add {
  background-color: #ffffff3d;
  cursor: pointer;
  border-radius: 3px;
  height: 40px;
  min-height: 32px;
  padding: 4px;
  vertical-align: top;
  transition: height 85ms ease-in-out;
  &:hover {
    background-color: #ffffff52;
  }
  &.edit-mode {
    background-color: $clr2;
    height: 80px;
    cursor: auto;
  }

  form {
    transition: all 1s ease-in-out;

    input {
      width: 100%;
      box-shadow: inset 0 0 0 2px $clr6;
      margin: 0;
    }

    & > :last-child {
      height: 32px;
      margin-top: 4px;
      & > :first-child {
        margin-right: 4px;
      }
      & > :last-child {
        cursor: pointer;
        &:hover {
          color: $clr3;
        }
      }
    }
  }

  .list-add-title {
    color: $clr0;
    display: block;
    padding: 6px 8px;
    transition: color 85ms ease-in;
    span {
      color: $clr0;
      margin-right: 2px;
    }
  }
}
