.card-list-add {
  background-color: #ffffff3d;
  cursor: pointer;
  border-radius: 3px;
  height: auto;
  min-height: 32px;
  padding: 4px;
  vertical-align: top;
  transition: background 85ms ease-in, opacity 40ms ease-in,
    border-color 85ms ease-in;
  &:hover {
    background-color: #ffffff52;
  }
  &.edit-mode {
    background-color: $clr2;
  }

  form {
    input {
      width: 100%;
    }

    & > :last-child {
      margin-top: 4px;
      & > :first-child {
        margin-right: 4px;
      }
    }
  }

  .list-add-title {
    color: $clr0;
    display: block;
    padding: 6px 8px;
    transition: color 85ms ease-in;
    span {
      color: $clr0;
      margin-right: 2px;
    }
  }
}
