.list-card-badges {
  float: left;
  margin-left: -2px;
  max-width: 100%;

  .badge {
    color: $clr4;
    display: inline-block;
    margin: 0 4px 4px 0;
    max-width: 100%;
    min-height: 20px;
    overflow: hidden;
    padding: 2px;
    position: relative;
    text-decoration: none;
    text-overflow: ellipsis;
    vertical-align: top;
  }

  .badge-icon {
    color: lighten(desaturate($clr4, 3.45), 4.12);
    vertical-align: top;
  }
}
