// Colors
//Bgcs
$clr0: #ffffff; //Base
$clr1: #f4f5f7; //Edit card bgc
$clr2: #ebecf0; //List bgc
//Font colors
$clr3: #172b4d; //Main Font color
$clr4: #5e6c84; //Sub font color
$clr5: #97a0af; //Comments font color
//buttons
$clr6: #0079bf; //Confirmation btn
$clr7: #0065ff; //Homepage btn
$clr8: #091e42; //Action btn (+add alpha 0.04)
$clr9: #5aac44; //Login btn

//Lables

$l101: #61bd4f;
$l102: #f2d600;
$l103: #ff9f1a;
$l104: #eb5a46; // + Alert btn
$l105: #c377e0;
$l106: #0079bf;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
