.board-header {
  padding: 8px 8px 12px 8px;
  background: #0000003d;
  display: flex;
  flex-wrap: wrap;

  .board-header-btn {
    height: 32px;
    background-color: #ffffff3d;
    color: $clr0;
    padding: 6px;
    &-wide {
      padding-inline: 6px 10px;
      & > :first-child {
        margin-right: 6px;
      }
    }

    &:hover {
      background-color: #ffffff52;
    }
  }

  .board-header-btn-icon {
    display: block;
    color: $clr0;
  }

  .board-header-btn-divider {
    border-left: 1px solid #ffffff3d;
    // float: left;
    height: 16px;
    margin: 8px;
  }

  .board-header-left {
    .board-title {
      margin-right: 4px;
      // max-width: 100%;
      // overflow: hidden;
      // white-space: nowrap;
      div.board-name-input input {
        border: 0;
        font-size: 18px;
        font-weight: 700;
        height: 32px;
        padding: 0 12px;
      }

      h1 {
        font-size: 18px;
        font-weight: 700;
        line-height: 32px;
        padding: 0 12px;
        overflow: hidden;
        vertical-align: top;
        text-overflow: ellipsis;
      }
    }

    .btn-star-container {
      &:hover .trl {
        transform: scale(1.2);
        color: #f2d600;
      }

      &:hover .icon-starred::before {
        content: "\e966";
      }

      .icon-starred {
        color: #f2d600;
      }

      &:focus .trl {
        transform: scale(1.2);
      }
    }

    .board-header-facepile {
      cursor: default;
      float: left;
      // margin-left: 4px;
      margin-inline: 4px 8px;
      overflow: hidden;
      padding: 2px 0 0 2px;
      & .member-avatar {
        float: left;
        margin: 0 0 0 -2px;
        z-index: 1;
      }
    }
    // .avatar-group {
    //   margin-right: 8px;
    // }

    .btn-add-member {
      background-color: $clr0;
      color: #000;
      &:hover {
        background-color: #ffffffe6;
      }
    }
  }

  .board-header-right {
    & > :not(:last-child) {
      margin-right: 4px;
    }
  }
}

@include for-mobile-layout {
  .board-header {
    .board-header-left {
      .board-header-btn-divider {
        display: none;
      }

      .board-header-facepile {
        display: none;
      }

      .btn-add-member {
        display: none;
      }
    }

    .board-header-right {
      .btn-description {
        display: none;
      }

      .board-header-btn {
        padding: 6px;
        & > :first-child {
          margin-right: 0;
          // padding: 6px;
        }
      }
    }
  }
}
