.cards-list {
  margin: 0 4px;
  display: inline-block;
  //   vertical-align: top;
  //   white-space: nowrap;
  height: 100%;
  width: 272px;
  &:first-child {
    margin-left: 12px;
  }

  .list-content {
    background-color: $clr2;
    border-radius: 3px;
    max-height: 100%;
    // position: relative;
    // white-space: normal;
    // width: 100%;
    .card-previews {
      margin: 0 4px;
      overflow-x: hidden;
      overflow-y: auto;
      padding: 0 4px;

      /*Scroll-Bar*/
      &::-webkit-scrollbar {
        height: 8px;
        width: 8px;
      }

      /* Track */
      &::-webkit-scrollbar-track-piece {
        border-radius: 3px;
        margin: 0 30px;
        width: 8px;
        background-color: #dadbe2;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        border-radius: 3px;
        background-color: #bfc4ce;
      }
    }

    .card-composer {
      max-height: 38px;
      min-height: 38px;
      .open-card-composer {
        background-color: transparent;
        border: none;
        text-align: unset;
        border-radius: 3px;
        color: $clr4;
        margin: 2px 0 8px 8px;
        padding: 4px 8px;
        position: relative;
        -webkit-user-select: none;
        user-select: none;
        width: 228px;

        .icon-add {
          color: lighten(desaturate($clr5, 3.45), 4.12);
          margin-right: 2px;
        }
        &:hover {
          background-color: #091e4214;
          color: $clr3;
          .icon-add {
            color: #42526e;
          }
        }
      }
    }
  }
}
