.list-header {
  padding: 6px 8px;
  position: relative;
  .list-title-input {
    overflow: hidden;
    overflow-wrap: break-word;
  }

  form {
    width: 100%;
    margin-right: 30px;
  }

  .list-title-input,
  h2 {
    padding: 4px 8px;
  }

  h2 {
    font-weight: 600;
    font-size: rem(14px);
    line-height: 20px;
  }

  .list-title-input {
    width: 100%;
    font-weight: 600;
    padding: 4px 8px;
  }

  .list-title-extras {
    position: absolute;
    right: 4px;
    top: 4px;
    border: none;
    border-radius: 3px;
    color: lighten(desaturate($clr4, 3.45), 4.12);
    background-color: unset;
    padding: 6px;
    span {
      display: block;
    }
    &:hover {
      background-color: #091e4214;
    }
  }
}
